<!DOCTYPE html>
<html lang="et">
<header>
</header>
<head>
    <meta charset="utf-8">
    <title>Igor Filippov, veebiprogrameerimine</title>
</head>
<body>
 <img src= "/images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
 <h1>Igor Filippov, veebiprogrammeerimine</h1>
 <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursuse jaoks, ja ei oma mõistlikku sisu</p>
 <hr>
  <ul>
    <li><a href="/">Avalehele</a></li>
    <li><a href="/eestifilm">Eesti filmi avaleht</a></li>
 </ul>
 <h2>Eesti filmiga seotud inimeste lisamine</h2>
 <form method="POST"> 
   <label for= "positionInput">Positsiooni nimi</label> 
   <input id="positionInput" type="text" name="positionInput" placeholder="Kirjuta positsiooni nime" required> 
   <br>
   <label for= "descriptionInput">Positsiooni kirjeldus</label>
   <textarea id = "descriptionInput" name = "descriptionInput" rows= '5' cols= '100' placeholder='Sisesta ametikoha kirjelduse'></textarea>
   <br>
   <input id="personSubmit" name ="personSubmit" type="submit" value="Salvesta">
 </form>

    <p><%= notice %></p>

</body>
<footer>

</footer>
</html>