<!DOCTYPE html>
<html lang="et">
<header>
</header>
<head>
    <meta charset="utf-8">
    <title>Igor Filippov, veebiprogrameerimine</title>
</head>
<body>
 <img src= "images/vp_banner_2025_AA.jpg" alt="Kursuse bänner">
 <h1>Igor Filippov, veebiprogrammeerimine</h1>
 <p>See leht on loodud <a href="https://www.tlu.ee">Tallinna Ülikoolis</a> veebiprogrammeerimise kursuse jaoks, ja ei oma mõistlikku sisu</p>
 <hr>
 <h2>Siin lehel leiad</h2>
 <ul>
    <li><a href="/">Avaleht</a></li>
    <li><a href="/timenow">Ajainfo</a></li>
    <li><a href="/vanasonad">Valik eesti tuntud vanasõnu</a></li>
    <li><a href="/regvisit">Registreeri</a></li>
    <li><a href="/visitlog">Külastajate nimekiri</a></li>
 </ul>

 <h3> Külastus on salvestatud <%= firstName %>  <%= lastName %></h3>
</body>
<footer>

</footer>
</html>